.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5 池ちゃん
        .chat-user__actions
          = link_to '', new_group_path, class: 'chat-user__action fa fa-pencil-square-o'
          = link_to '', edit_user_registration_path, class: 'chat-user__action fa fa-cog'
      %ul.chat-groups
        - @groups.each do |group|
          %li.chat-group.chat-group__link
            .chat-group__name
              = group.name
            .chat-group__message
              まだメッセージが存在しません。
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 こうた
          %p.chat-header__users
            Members:
            %span.chat-header__user 池ちゃん
            %span.chat-header__user 池ちゃん
        .chat-header--right
          %a.chat-header__edit-btn{:href => "/chat_groups/3062/edit"} Edit
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name
                池ちゃん
              %p.chat-message__time
                2016/11/24 08:58:33
            %p.chat-message__body
              fvcxzvzxc
      .chat-footer
        %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/chat_groups/3062/messages", :enctype => "multipart/form-data", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "6KfUluY3k8J85jbATKPB5czvzW446g5nZ/JjeQI77RjloZ2sj/adqB6MiPIyLyeBu6wjqt6btE/O0arGOrZAbg=="}/
          .chat-footer__body
            %textarea#message_body{:name => "message[body]", :placeholder => "type a message", :row => "1"}
              :preserve
            %label.chat-footer__file
              %input#message_image{:name => "message[image]", :type => "file"}/
              %i.fa.fa-image
          %input{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
