%li.chat-message
  .chat-message__header.clearfix
    .chat-message__name
      = chat.user.name
    .chat-message__time
      = chat.created_at
  .chat-message__body
    = chat.text
    %p
    = image_tag(chat.image, width: 300, height: 300)
