=link_to group_chats_path(group.id) do
  %li.chat-group.chat-group__link
    %p.chat-group__name
      = group.name
    .chat-group__message
      - if group.chats.blank?
        %p まだメッセージがありません
      -else
        = group.chats.last.text
