= link_to group_chats_path(group) do
  %li.chat-group.chat-group__link
    %p.chat-group__name
      = group.try(:name)
    .chat-group__message
      - if group.chats.blank?
        %p まだメッセージはありません
      -else
        = group.chats.last.try(:text)
