#flash-message-notice{
  background-color: #38aef0;
  height: 40px;
  line-height: 30px;
  color: white;
  font-color: white;
  text-align: center;
}

#flash-message-alert{
  background-color: #d65f4c;
  height: 40px;
  line-height: 30px;
  color: white;
  font-color: white;
  text-align: center;
}
